<div>
<nav class="navbar navbar-expand-lg   bg-dark border-bottom border-body">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Reactive Forms</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white" [routerLink]="['/form-controls']" routerLinkActive="router-link-active">Direct Form Controls</a>
        <a class="nav-link text-white" [routerLink]="['/form-groups']">Form Groups</a>
        <a class="nav-link text-white" [routerLink]="['/form-arrays']">Form Arrays</a>
      </div>
    </div>
  </div>
</nav>
</div>